langchain
python-dotenv
ipykernel
langchain-community
bs4
pypdf
arxiv
PyMuPDFA
langchain-text-splitters
chromadb
sentence_transformer
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma
langchain_groq